.footer-adress {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  gap: 12px;
  align-items: center;
  @media screen and (min-width: 1200px) {
    align-items: start;
    gap: 9px;
}
}

.location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-decoration: none;
}

.location,
.mail,
.phone {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:active,
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.mail,
.phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--shadow-color);
  text-decoration: none;
}

.phone {
  margin-bottom: 0;
}
