.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 8px;
  }


  &-button {
    padding: 6px 22px;
    background-color: var(--secondary-background);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover,
    &:focus {
      background-color: var(--brand-color);
      color: var(--secondary-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
