:root {
  --brand-color: #2196F3;
  --main-color: #212121;
  --main-background: #F5F5F5;
  --secondary-background: #F5F4FA;
  --background-color: #2F303A;
  --secondary-color:#FFFFFF;
  --secondary-text-color: #757575;
  --shadow-color: rgba(255, 255, 255, 0.6);
  --border-color: #EEEEEE;
  --portfolio-border: #ECECEC;
  --client-color: #AFB1B8;
}